.introCard {
  width: 200px;
  height: 100px;

  position: absolute;
  top: -13em;
  bottom: 0;
  left: 15em;
  right: 0;

  margin: auto;

  text-align: center;
}

.wizardImage {
  height: 700px;
  width: 500px;
  position: absolute;
  top: -12em;
  bottom: 0;
  left: -33em;
  right: 15em;
}

.spiderman{
  height: 70px;
  width: 70px;
}

.filterText{
  margin-top: 10px;
}

.allButton {
  background-color: grey;
}

.gryffindorButton {
  background-color: red;
}

.hufflepuffButton {
  background-color: orange;
}

.ravenclawButton {
  background-color: blue;
}

.slytherinButton {
  background-color: green;
}


.container1a {
  /* border: black solid 2px; */
  text-align: center;
  margin-top: 20px;
}


.container1b {
  /* border: solid black 2px; */
  text-align: center;
}

.container2 {
  display: flex;
  justify-content: space-between;
  /* border: solid black 2px; */
}

.container2a {
  display: flex;
  justify-content: center space-around;
  /* border: solid black 2px; */
}

.container2b {
  display: flex;
  justify-content: center space-around;
  /* border-left: 2px black solid; */
  /* border: solid black 2px; */
}

.container2aCards {
  margin: 50px;
  width: 300px;
  text-align: center;
}

.expelButton {
  margin: 10px;
  width: 100px;
  height: 50px;
}

.container2bCards {
  margin: 50px;
  width: 300px;
  text-align: center;
}


/* .container1b1 {
  border: 1px solid red;
} */

.inputForm {
  display: flex;
  justify-content: center;
}

.gryffindor {
  background-color: red;
  height: 200px;
}

.hufflepuff {
  background-color: orange;
  height: 200px;
}

.ravenclaw {
  background-color: blue;
  height: 200px;
}

.slytherin {
  background-color: green;
  height: 200px;
}

.veryBad {
  background-color: black;
  height: 200px;
}

.insideOfContainer2b {
  text-align: center;
}
